$lightgray: #f4f4f4;
$gray: #a7a7a7;
$lightblue: #35aae1;
$blue: #2d4cfd;
$darkblue: #322783;
$turqoise: #00a19c;
$green: #00a246;
$greenlight: #6aebce;
$yellowgreen: #e2eb40;
$salmon: #ffe0d2;
$yellow: #ffd201;
$orange: #eb8221;
$orangered: #e8450f;
$red: #eb1e57;
$pink: #e6a2ed;
$pinkdark: #b013c8;
$purple: #c073ff;
$purpledark: #4f18d9;
$black: black;
